@using SchoolTemplate.Database
@model Festival
@{
    ViewData["Title"] = "Festival";
}

<nav class="main-nav">
    <a href="/">Home</a>
    <a href="/Tickets">Tickets</a>
    <a href="/Contact">Contact</a>
    <a href="/Inloggen" style=" position: absolute; right: 10px;">Inloggen</a>
</nav>


<h2>@Model.Naam</h2>
<h3>Nadere info @Model.Naam </h3>

<h4>Plattegrond:</h4>
<div class="plattegrond">
    <img src="@Model.Plattegrond"/>
</div>
<h5>Routebeschrijving:</h5>
<a href="@Model.Routebeschrijving">Routebeschrijving link</a>
<div class="nieuws">
    <img src="@Model.Nieuws"/>
</div>
<div class="huisregels">
    <img src="@Model.Huisregels"/>
</div>

